<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h1>Calculate here</h1>
<div>
    <form method="post">
        <input type="number" name="num1" required>
        <select name="chooser">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select>
    <input type="number" name="num2" required> = <button type="submit">Solve</button>
    </form>
</div>
</body>
</html>
