<!DOCTYPE html>
<html>
   <head lang="en">
      <meta charset="UTF-8">
      <meta name="description" content="Martin and Nikolaj like coffee.">
      <title>Nikolaj's page</title>
      <link rel="stylesheet" href="/assets/css/style.css">
   </head>
   <body>
      <h1 align="center"><font face="Impact" color="#ffeda8">N to the K<font face="Impact"></h1>

      <div align="center">
         <img src="https://axiomsofchoice.org/_media/nikolaj_kuntner_ist_1000x661.png?cache=&w=462&h=700&tok=448f3c">
      </div>
   </body>
</html>
