<!DOCTYPE html>
<html>
   <head lang="en">
      <meta charset="UTF-8">
      <meta name="description" content="Martin and Nikolaj like coffee.">
      <title>Martin's page</title>
      <link rel="stylesheet" href="/assets/css/style.css">
   </head>
   <body>
      <h1 align="center"><font face="Impact">Martin does school math<font face="Impact"></h1>

      <!-- = Adder = -->
      <div align="center" class="container" id="ID3-Adder">
         <form method="post">
            <input type="text" name="num1" required autofocus>
            <input type="text" name="num2" required>
            <button type="submit"><font size="4">+</font></button>
         </form>
         <p></p>
         <p align="center"><font size="10"> = {{result}} </font></p>
      </div>

      <div align="center">
         <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T98A2PA160PT17X98Y65D1010397464S17/views/1,width=300,height=300,appearanceId=2,backgroundColor=E8E8E8/beaver-men-s-muscle-t-shirt.jpg">
      </div>
   </body>
</html>
