<!DOCTYPE html>
<html>
   <head lang="en">
      <meta charset="UTF-8">
      <meta name="description" content="Martin and Nikolaj like coffee.">
      <title>Mike's page</title>
      <link rel="stylesheet" href="/assets/css/style.css">
   </head>
   <body>
      <h1 align="center"><font face="Impact">Mike on the Mic<font face="Impact"></h1>

      <div align="center">
         <img src="http://68.media.tumblr.com/ce3ad3843ae8f8a4678553865b9b57b9/tumblr_inline_o0uaeaBnR61qimrdl_400.png">
      </div>
   </body>
</html>
